:local(.container) {
  /* width: 95%; */
  padding: 40px 0;
  /* margin: 0 auto; */
}

/* Sending modal */

:local(.sendingForm) {
  width: 90%;
  margin: 0 auto;
}

:local(.sendingTitle) {
  padding: 40px 0px;
}

/* Reusable */

:local(.center) {
  text-align: center;
}

:local(.rightAlign) {
  text-align: right;
}

:local(.leftAlign) {
  text-align: left;
}

:local(.paddingBottom) {
  padding-bottom: 1rem;
}

.ui[class*="vertically divided"].grid > .row:before {
  width: 100%;
  margin: 0;
}

.ui[class*="vertically divided"].grid > .row > .column {
  margin-top: 2rem;
}

.ui.input input {
  text-align: right;
}

.ui.grid {
  margin: 0;
}

.ui.grid > .row {
  padding-bottom: 0px;
}

.ui.grid > .row > .column {
  padding: 0;
}

.ui[class*="vertically divided"].grid > .row {
  padding-bottom: 0px;
}

/* Balance component */

:local(.balanceComponent) {
  margin: 50px 0 40px 0;
}

:local(.accountTitle) {
  padding: 10px 0 30px 0;
}

:local(.balance) {
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 15px;
}

:local(.balanceValue) {
  font-size: 30px;
  font-weight: 200;
}

:local(.actions) {
  font-size: 12px;
  font-weight: bold;
  padding: 0 10px 10px 0;
  text-align: right;
}

:local(.sendButton),
:local(.receiveButton) {
  display: inline;
  text-align: right;
  padding: 0 0 0 10px;
}
/* ---------------------- */

/* Transaction component */
:local(.transactionTitles) {
  font-size: 13px;
  font-weight: bold;
}

:local(.transactionList) {
  list-style: none;
  margin: 6px 0;
}

:local(.transactionListTime) {
  list-style: none;
  margin: 6px 0;
  color: #727272;
}

:local(.operationRow) {
  padding: 5px 0;
  border-bottom: 1px solid #e2e0e0;
}
