:local(.container) {
  width: 100%;
  height: 320px;
  margin: 20px auto 0 auto;
  padding: 10px 40px;
  background-color: rgb(241, 241, 241);
  border: 1px solid #000;
  border-radius: 5px;
}

:local(.containers) {
  width: 90%;
  height: 320px;
  margin: 20px auto 10px auto;
  padding: 10px 40px;
  background-color: rgb(241, 241, 241);
  border: 1px solid #000;
  border-radius: 5px;
}

/* Sending modal */

:local(.sendingForm) {
  margin: 20px 0 40px 0;
}

/* Reusable */

:local(.rightAlign) {
  text-align: right;
}

:local(.leftAlign) {
  text-align: left;
}

.ui[class*="vertically divided"].grid > .row {
  padding-bottom: 0px;
}

/* Balance component */

:local(.balanceComponent) {
  margin: 50px 0;
}

:local(.balance) {
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 15px;
}

:local(.balanceValue) {
  font-size: 30px;
  font-weight: 200;
}

:local(.actions) {
  font-size: 12px;
  font-weight: bold;
  padding: 0 10px 10px 0;
  text-align: right;
}

:local(.sendButton),
:local(.receiveButton) {
  display: inline;
  text-align: right;
  padding: 0 0 0 10px;
}
/* ---------------------- */
